body{
    background-color: gold;
}
marquee{
    background-color: brown;
    font-size: 25px;
    
    color: aliceblue;
}
.contener{
    display: none;
    width: 450px;
    height: 450px;
    align-items: center;
    margin-left: 30%;
    padding: 10px;
    margin-top: 180px;

    

}
.foto1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin: 10px;
    margin-top: -150px;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.foto2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin: 10px;
    margin-left: 120px;
    margin-top: -160px;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.foto3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin: 10px;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.foto4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin: 10px;
    margin-top: -90px;
    margin-left: 120px;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.controle{
    display: none;
}

.marq{
    display: none;
}
.eleitor{
    display: none;
}
.init{
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
}
.find{
    
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.btn{
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}
.init{
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}
.find{
    cursor: pointer;
}
.rodape{
    display:none;
    margin: 10px;
}
